tr#hookit {
  background: url('/group-images/wanted.png');

  th {
    color: #282828;
    font-family: "Rye";
    font-size: 1em;
  }
}

tr#revisorer {
  background: url('/group-images/revisit.png');

  th {
    opacity: 0;
  }
}

tr#engsmyre {
  background-image: url('/group-images/gib_cat.jpg');
  background-repeat: no-repeat;
  color: white;
  background-size: 100% 100%;

  td {
    background-color: rgba(0, 0, 0, 0.5);

    a {
      color: white;
    }
  }
}

tr#fikit {
  background: url('/group-images/fikit.png');

  th {
    opacity: 0;
  }
}

tr#snit {
  background: url('/group-images/snit.png');

  th {
    color: white;
    font-size: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

tr#prit {
  background: url('/group-images/pritbak.png');

  th {
    opacity: 0;
  }
}

tr#nollkit {
  background: url('/group-images/nollkit.png');

  th {
    opacity: 0;
  }
}

tr#sexit {
  background: url('/group-images/sexit.png');

  th {
    opacity: 0;
  }
}

tr#digit {
  background: url('/group-images/digit.png');

  th {
    color: white;
  }
}

tr#styrit {
  background: url('/group-images/styritsvagn.jpg');

  th {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

tr#drawit {
  background: url('/group-images/drawit.png');

  th {
    color: white;
  }
}

tr#fritid {
  background: url('/group-images/fritid.png');

  th {
    color: white;
  }
}

tr#laggit {
  background: url('/group-images/laggit.png');

  th {
    color: white;
  }
}

tr#valberedningen {
  background: url('/group-images/valleb.png');

  th {
    color: white;
    text-align: end;
  }
}

tr#talperson {
  background: url('/group-images/vidde.png');

  th {
    color: white;
    text-align: right
  }
}

tr#\38 bit {
  background: url('/group-images/8bit.png');

  th {
    color: white;
    font-family: "Silkscreen";
    font-size: 1em;
  }
}

tr#kandidatmiddagen {
  background: url('/group-images/middag.png');
  background-color: #44aedb;
}

tr#kandidatmiddagen th {
  opacity: 0;
}


tr#flashit {
  background: url('/group-images/flashit.png');

  th {
    color: black;
    text-align: end;
  }
}

tr#cloudlords {
  background: url('/group-images/cloudlords.png');
  background-color: #44aedb;
}

tr#mrcit {
  background: url('/group-images/mrkit.png');

  th {
    opacity: 0;
  }
}
