on: [push, pull_request]

name: "Frontend CI"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn --frozen-lockfile
        working-directory: frontend
      - name: Build
        run: yarn build
        working-directory: frontend

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn --frozen-lockfile
        working-directory: frontend
      - name: Test
        run: yarn test
        working-directory: frontend

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn --frozen-lockfile
        working-directory: frontend
      - name: Build
        run: yarn lint:check
        working-directory: frontend

  docker:
    runs-on: ubuntu-latest
    needs: 
      - build
      - test
      - lint
    steps:
      - uses: actions/checkout@v2
      - name: Log in to docker.chalmers.it
        uses: docker/login-action@v1
        with:
          registry: docker.chalmers.it
          username: __machine
          password: ${{ secrets.DOCKER_CTHIT_MACHINE_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: docker.chalmers.it/hubbit2/frontend:latest
